<a href="https://colab.research.google.com/github/Venni2911/LogicMojo-AI-ML-Sept25-VenniRaj/blob/main/Venni_20_09_CW.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [11]:
n = int(input("enter the input"))

for i in range(n):
    sp = " " * (n - i - 1)
    st= "*" * (2 * i + 1)
    print(sp + st)

for i in range(n - 2, -1, -1):
    sp = " " * (n - i - 1)
    st = "*" * (2 * i + 1)
    print(sp + st)

enter the input5
    *
   ***
  *****
 *******
*********
 *******
  *****
   ***
    *

In [16]:
n =5
for i in range(n):
    if i == 0 or i == n-1:
        print("*" * n)
    else:
        print("*")

*****
*
*
*
*****

In [19]:
n=5

for i in range(n):
    if i == 0 or i == n-1:
        print("*" * n)
    else:
        print("*" + " " * (n-2) + "*")

*****
*   *
*   *
*   *
*****

In [20]:
n=5

for i in range(n):
    if i == 0 or i == n-1:
        print("*" * n)

*****
*****

In [28]:
l =[]
p="abrsba"
for i in range(len(p)-1,0,-1):
  if p[i] != p[len(p)-i]:
    print("palindrome")
    break

palindrome

In [35]:
t = [2,3,4]
t1 = [1,2,3,'a','s']
t
s=set(t)
s
t = list(s)
s
s=set(t1)
s

{1, 2, 3, 'a', 's'}

In [41]:
t = [2,3,4]
l = [1,2,3,'a','s']
s={91,2,30,33,31}
t= (1,2,3)
s.discard(4)
s

{2, 30, 31, 33, 91}

In [46]:
s = {1,5,7,2,3,6,88,8,4,10}
s.pop()
s

{2, 3, 4, 5, 6, 7, 8, 10, 88}

In [51]:
s = {1,6,7,2,3}
s.pop()
s
print(s.pop())
print(s)

2
{3, 6, 7}

In [55]:
l=[1,2,4]
l.append(22)
l

[1, 2, 4, 22]

In [53]:
l=[1,2,4]
l.extend([22,44,55])
l

[1, 2, 4, 22, 44, 55]

In [58]:
d = dict(name='aa',age=22)
d

{'name': 'aa', 'age': 22}

In [66]:
d = dict(name='aa',age=22,city='bb')

d

{'name': 'aa', 'age': 22, 'city': 'bb'}

In [59]:
d1=d.copy()
d1

{'name': 'aa', 'age': 22}

In [61]:
d.get('name')
print(d.get('name'))

aa

In [69]:
d = dict(name='aa',age=22,city='bb')
d.keys()
d.values()
d.items()

dict_items([('name', 'aa'), ('age', 22), ('city', 'bb')])

In [77]:
d = dict(
    name='aa',
    age=22,
    city='bb',
    income = dict(basic = 2000,allowance =1000,bonus=111)
)
d

{'name': 'aa',
 'age': 22,
 'city': 'bb',
 'income': {'basic': 2000, 'allowance': 1000, 'bonus': 111}}

In [78]:
d = {
    'name': 'aa',
    'age': 22,
    'city': 'bb',
    'income': {
        'basic': 2000,
        'allowance': 1000,
        'bonus': 111
    }
}
d

{'name': 'aa',
 'age': 22,
 'city': 'bb',
 'income': {'basic': 2000, 'allowance': 1000, 'bonus': 111}}

In [74]:
d = dict(
    name='aa',
    age=22,
    city='bb',
    income=dict(
        basic=2000,
        allowance=1000,
        bonus=111
    )
)
d

{'name': 'aa',
 'age': 22,
 'city': 'bb',
 'income': {'basic': 2000, 'allowance': 1000, 'bonus': 111}}

In [ ]:
class Node:
  head = None

  def __init__(self,data= None) -> None:
    self.data = data
    self.next = None

  def insert_at_beginning(self,data):
    new_node = Node(data)
    new_node.next = self.head
    self.head = new_node

    def insert_at_beginning(self,data):
      new_node = Node(data)
      if self.head is None:
          self.head = new_node
      return
    new_node.next = self.head
    self.head = new_node

  def insert_at_beginning(self,data):
    new_node = Node(data)
    new_node.next = self.head
    self.head = new_node

  def insert_at_end(self,data):
    new_node = Node(data)
    if self.head is None:
      self.head = new_node
      return
    itr = self.head
    while itr.next:
      itr = itr.next

    itr.next = new_node

In [ ]:
class Node:

  def __init__(self,data) -> None:
    self.data = data
    self.next = None

  def delete(self,key):
    current = self.head
    previous = None

  if current and current.data == key:
    self.head = current.next
    return

    while current and current.data != key:
    previous = current
    current = current.next

  if current is None:
    return

  previous.next = current.next

code for circular linked list (pesudocode)
circular linked list - insertion, deletion