<a href="https://colab.research.google.com/github/Venni2911/LogicMojo-AI-ML-Sept25-VenniRaj/blob/main/Venni_26_09.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
list = [1,2,3,4,5,6,7,8,9,10]
list[0:3]
list[1:3]
list[-1:-3]
list[-5:-3]
list[1:10:4]
list[::-1]

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [9]:
my_list = [10, 20, 30, 40, 50, 60, 70]
my_list[2:5]

[30, 40, 50]

In [ ]:
'''
Question 1 -
1. Take an integer as input from the user.
2. Calculate cube of the input.
3. If result > 50 print "Massive Number" else print "Small Number".
4. After this, print "EXECUTION COMPLETE!"

In [14]:
x = int(input("enter the number: "))

y = x * 3
print(y)
if y > 50:
  print("Massive Number")
else:
  print("Small Number")

print("EXECUTION COMPLETE!")

enter the number: 5
125
Massive Number
EXECUTION COMPLETE!

Write a program that continuously asks the user to provide an input number.
Print the square of that input number.
The program should stop if the user enters 5.
In case user enters any multiple of 4, skip it.

In [20]:
while True:
  x = int(input("Enter the input:" ))

  print(x*x)

  if x == 5:
    break
  elif x % 4 == 0:
    continue

Enter the input:3
9
Enter the input:4
16
Enter the input:9
81
Enter the input:5
25

In [27]:


loop = [1,2,3,4,5,6,7,8,9]

for x in loop:
  if x % 2 == 0:
    print( x ," is a even")
  else:
    print( x ," is a odd")

1  is a odd
2  is a even
3  is a odd
4  is a even
5  is a odd
6  is a even
7  is a odd
8  is a even
9  is a odd

In [45]:
for x in range(4):
  for y in range(2):
    print("*",end=' ')
  print()

* *
* *
* *
* *

In [49]:
N = int(input("Enter the number"))

for i in range(1,N+1):
  for j in range(i):
    print("*",end='')
  print()

Enter the number5
*
**
***
****
*****

In [85]:
n = 10

for i in range(10):
  x = ' ' * (n-i-1)
  y = "*" * (2 * i +1)
  print(x + y)

         *
        ***
       *****
      *******
     *********
    ***********
   *************
  ***************
 *****************
*******************

In [93]:
t =(1,2,3,4,5,2,5,6,7,8,9,10)
t.count(3)
t.index(8,5)
t.index(7)

8