In [ ]:
x=5
print(x)

5

# New Section

In [ ]:
x=5
y="10"
print(x + int(y))

15

In [ ]:
x="5"
y="10"
print(x + y)

510

In [ ]:
d = {'a': 1, 'b': 2}
d.get('c',5)

5

In [ ]:
l =[0,2,3,45,8,9,10]
l[4]

8

In [ ]:
l =[0,2,3,45,8,9,10]
l[:4]

[0, 2, 3, 45]

In [ ]:
l=[0,3,4,5,6,8,9,19]
l[2:5]
l[5:]
l[-2:-5]
l[-5:-2]
l[:-7]
l[:-1:2]
l[::2]
l[::-2]
l[::-2]

[19, 8, 5, 3]

In [ ]:
l=[1,0,3,[2,3],"aab"]
l[4][2]

'b'

In [ ]:
x = 60
if x < 40:
    print ("hello")

In [ ]:
x = 10
if x % 4 == 0:
  pass
else:
        if x / 2 > 1:
              print ("hello")

hello

In [ ]:
x =10
if x > 30:
  if x%2==0 :
    pass
  else:
    print("df")
else:
    print("dgg")

dgg

In [ ]:
l = [1,4,5,7,8,9,6,0,10]
s=[]
for i in l:
  if i%2 ==0 :
    if i%3 ==0 :
      break
      s.append("Even")
    else:
      s.append("Odd")
print(s)

['Odd', 'Odd']

In [ ]:
l = [1,4,5,7,8,9,6,0,10]
s=[]
for i in l:
  if i%2 ==0 :
    if i%3 ==0 :
      pass
      s.append("Even")
    else:
      s.append("Odd")
print(s)

['Odd', 'Odd', 'Even', 'Even', 'Odd']

In [ ]:
try:
  n = int(input("Enter an interger"))
except ValueError:
  print("Invalid input")

Enter an intergervenno
Invalid input

In [ ]:
x =10
code = "if x % 4 == 0 :"

try:
    eval(code)
except SyntaxError:
    print("Invalid syntax")

Invalid syntax

In [ ]:
while True:
    x= int(input("enter the input"))
    if x == 5:
        print("Exit")
        break

    if x % 4 == 0:
        print("skip")
        continue

    print(x ** 2)

enter the input1
1
enter the input1
1
enter the input2
4
enter the input3
9
enter the input4
skip
enter the input5
Exit

In [ ]:
for x in range(3):
    for y in range(3):
        print("*", end=" ")
    print("")

* * *
* * *
* * *

In [ ]:
x = 5

for i in range(1, x + 1):

    print('*' * i)

*
**
***
****
*****

In [ ]:
n = 5
for x in range(n):
  for y in range(x + 1):
    print ('*', end = "")
  print('', end = "")

***************

In [ ]:
n = 5
for x in range(n):
  for y in range(x + 1):
    print ('*', end = "")
print()

***************

In [ ]:
for i in range(5):
    for k in range(0,5-i):
        print(end=" ")
    for j in range(0,2*i+1):
        print("*",end="")
    print()

     *
    ***
   *****
  *******
 *********

In [ ]:
for i in range(5):
    for k in range(0,5-i):
        print(end=" ")
    for j in range(0,2*i+1):
        print("*",end="")

    print()

     *
    ***
   *****
  *******
 *********

In [ ]:
n = 5
for i in range(n):
    x = " " * (n - i - 1)
    y = "*" * (2 * i + 1)
    print(x + y)

    *
   ***
  *****
 *******
*********

In [ ]:

for i in range(5):
    sp = " " * (5 - i - 1)
    st= "*" * (2 * i + 1)
    print(sp + st)

    *
   ***
  *****
 *******
*********

In [ ]:
s="hello"
s

'olleh'

In [ ]:
a,b=5,3
a %=b
print(a)

2

In [ ]:
def mainfunc():
  x='Welcome to python'
  print (x)
  mainfunc()

In [ ]:
name = input("Ënter your name: ")
print(name)

Ënter your name: tom
tom

In [ ]:
a,b=map(int,input("ënter the number:").split())
print("first value:a",a)
print("first value:b", b)

ënter the number:1 2
first value:a 1
first value:b 2