<a href="https://colab.research.google.com/github/Venni2911/LogicMojo-AI-ML-Sept25-VenniRaj/blob/main/Venni_Class3_HW.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Q1 : Description Sometimes the data has few duplicate values which will affect the analysis done. In this problem, you will be given a list. You have to find and delete the duplicates and print the updated list with no duplicates.

In [3]:
l = [1,2,3,4,5,4,5,6,7,7]

list(set(l))

[1, 2, 3, 4, 5, 6, 7]

In [4]:
l = [18,9,3,4,5,4,5,6,7,7]

list(set(l))

[3, 4, 5, 6, 7, 9, 18]

In [17]:
l = input("Enter the list of values separated by space:").split(' ')

l = [int(i) for i in l]

print(l)

empty_list = []

for i in l:
  if i not in empty_list:
    empty_list.append(i)
print(empty_list)

Enter the list of values separated by space:2 3 2 3 4 4 5 5
[2, 3, 2, 3, 4, 4, 5, 5]
[2, 3, 4, 5]

Q2 : You will be converting a dictionary, of string(keys) and list of string (values), to a list of strings. Please check the sample input/output for clarification.

Input: A dictionary with keys as strings and values as a list of strings.

Output: A list of strings

Sample input: {‘Mobile’: [‘Redmi’, ‘Samsung’, ‘Realme’], ‘Laptop’: [‘Dell’, ‘HP’], ‘TV’: [‘Videocon’, ‘Sony’] }

Sample output: [‘Mobile_Redmi’, ‘Mobile_Samsung’, ‘Mobile_Realme’, ‘Laptop_Dell’, ‘Laptop_HP’, ‘TV_Videocon’, ‘TV_Sony’]

Sample input: { 'Pen': ['Gel', 'Ink', 'ball'], 'Mobile': ['Android', 'apple'] }

Sample output: ['Pen_Gel', 'Pen_Ink', 'Pen_ball', 'Mobile_Android', 'Mobile_apple']

In [1]:
dict =  {
    'Mobile': ['Redmi','Samsung', 'Realme'],
    'Laptop': ['Dell','HP'], 'TV': ['Vidiocone', 'Sony']
    }

def output(data):
  empty = []
  for key in data:
    for value in data[key]:
      empty.append(key+'_'+value)
  print(empty)

output(dict)

['Mobile_Redmi', 'Mobile_Samsung', 'Mobile_Realme', 'Laptop_Dell', 'Laptop_HP', 'TV_Vidiocone', 'TV_Sony']

In [9]:
dict = {'Mobile': ['Redmi', 'Samsung'], 'Laptop': ['Dell']}
result = [];
for x,y in dict.items():
    for value in y:
        result.append(x+"_"+value)
print(result)

['Mobile_Redmi', 'Mobile_Samsung', 'Laptop_Dell']

Q3 : Description You will be given a string with a lot of brackets. You have to print if the brackets are balanced or not. Remember, there are three types of brackets: ‘( )’, ‘{ }’ and ‘[ ]’.

Input: A string

Output: Yes, if the brackets are balanced. No otherwise.

In [7]:
s = input("Enter the string: ")



def is_balanced(s):
    stack = []
    pairs = {')': '(', '}': '{', ']': '['}

    for ch in s:

        if ch in "([{":
            stack.append(ch)

        elif ch in ")]}":

            if not stack:
                return False
            top = stack.pop()

            if pairs[ch] != top:
                return False

    return len(stack) == 0

def check(s):
    return "Yes" if is_balanced(s) else "No"

is_balanced(s)

Enter the string: (){

False

In [10]:
data = input("Enter the data")

for i in range(len(data)):
    data = data.replace("()", "").replace("[]", "").replace("{}", "")

if not data:
    print("Yes")
else:
    print("No")

Enter the data(){{{
No

In [16]:
s = '{{[]}}'
s1 = '(({{{}}}))'

l=[]

for i in s:
  if len(l) == 0 or i == '[' or i == '{' or i == '(':
    l.append(i)
  else:
    l.pop()

if len(l) == 0:
  print('Balanced')
else:
  print('No')

Balanced

Q4 You will be given a dictionary with keys as items and values as their prices. You have to print the cheapest item.

Sample input: A single line non-empty dictionary

Sample output: cheapest_item name: cheapest_item_cost

Sample input: {'mobile1':10000, 'mobile2':11000, 'mobile3':13000, 'mobile4':9000, 'mobile5':15000, 'mobile6':16000, 'mobile7':17000, 'mobile8':18000, 'mobile9':19000}

Sample output: mobile4: 9000

Note: in case of a tie, whichever item came first should be the output.

In [20]:
## find the min value
## traverse all items and compare the min value


d = {'mobile1':10000, 'mobile2':11000, 'mobile3':13000, 'mobile4':9000, 'mobile5':15000, 'mobile6':16000, 'mobile7':17000, 'mobile8':18000, 'mobile9':19000}
l=list(d.keys())[0]

print(l)

min = d[l]
print(min)

for key,value in d.items():
  if value < min:
    min = value
    l = key

print(l,min)

mobile1
10000
mobile4 9000

In [17]:
dict = {'mobile1':10000, 'mobile2':11000, 'mobile3':13000, 'mobile4':9000, 'mobile5':15000, 'mobile6':16000, 'mobile7':17000, 'mobile8':18000, 'mobile9':19000}
result = [];
for x,y in dict.items():
    result.append(y)
    result.sort()
print("cheapest_item_cost", result[0])

cheapest_item_cost 9000

Q5 You will be given a list of repeated elements. You have to find the maximum distance between two same elements. The answer will be zero if there are no repeated elements.

Input: A non-empty list of integers.

Output: A single integer denoting the maximum distance between two same integers.

Sample input: [1, 2, 3, 2, 5, 1, 2, 4, 6, 2, 7, 8, 6]

Sample output: 8

Explanation: Max distance for 1: 5 Max distance for 2: 8 Max distance for 3: 0 Max distance for 4: 0 Max distance for 5: 0 Max distance for 6: 4 Max distance for 7: 0 Max distance for 8: 0

In [ ]:
### find the index of every element
## store the index of same elements together such that you can find the differences from the 1st index

l =  [1, 2, 3, 2, 5, 1, 2, 4, 6, 2, 7, 8, 6]

In [21]:
input = [1, 2, 3, 2, 5, 1, 2, 4, 6, 2, 7, 8, 6]
n = len(input)
map = {}
for i in range(n):
  if input[i] not in map:
    map[input[i]] = [i]
  else:
    map[input[i]].append(i)
print(map)

for key, value in map.items():
  l = value
  map[key] = l[len(l)-1] - l[0]
print(map)

{1: [0, 5], 2: [1, 3, 6, 9], 3: [2], 5: [4], 4: [7], 6: [8, 12], 7: [10], 8: [11]}
{1: 5, 2: 8, 3: 0, 5: 0, 4: 0, 6: 4, 7: 0, 8: 0}

In [25]:
input = [1, 2, 3, 2, 5, 1, 2, 4, 6, 2, 7, 8, 6]
n = len(input)

max_d =0

for i in range(len(input)):
  for j in range (len(input)-1,0,-1):
    if l[i] == l[j]:
      max_d = max(max_d,j-1)
print(max_d)

IndexError: list index out of range

Q6 Your team is going for camping and you are taking a vote to decide what food to pack for dinner. Everyone gets a vote and the food item that gets at least one more than half of the votes wins. None of the items wins if nothing gets at least one more than half votes. Assume that every person gets only one vote. The input will contain a list of food items where each occurrence of an item represents one vote. You should print the winning food item as output. If there is no clear winner, print "NOTA".

Sample Input: ["pasta","pasta","pasta","pasta","pasta","paratha","paratha","paratha"] Sample Output: pasta

In [30]:
l = ["pasta","pasta","pasta","pasta","pasta","paratha","paratha","paratha"]

d = {}
vote_half = len(l) // 2
print(vote_half)

for i in l:
  if i in d:
    d[i] += 1
  else:
    d[i] = 1
d
for key, value in d.items():
  if value > vote_half:
    print(key)
    break
else:
  print("NOTA")

4
pasta

Q7 Consider a nested dictionary as follows:

{'Fruit': 1, 'Vegetable': {'Cabbage': 2, 'Cauliflower': 3}, 'Spices': 4}

Your task is to flatten a nested dictionary and join the nested keys with the "_" character. For the above dictionary, the flattened dictionary would be as follows:

{'Fruit': 1, 'Vegetable_Cabbage': 2, 'Vegetable_Cauliflower': 3, 'Spices': 4}

The input will have a nested dictionary.

The output should have two lists. The first list will have keys and the second list should have values. Both lists should be sorted.

In [38]:
### fltten the dictionary
## parent_dic + '_' + value

## sort the dictionary

d = {'Fruit': 1, 'Vegetable': {'Cabbage': 2, 'Cauliflower': 3}, 'Spices': 4}
flat = {}

for key, value in d.items():
  if isinstance(value, dict):
    for k, v in value.items():
      flat[key + '_' + k] = v
  else:
    flat[key] = value

keys = sorted(flat.keys())
values = [flat[k] for k in keys]

print(keys)
print(values)

TypeError: isinstance() arg 2 must be a type, a tuple of types, or a union

# If No head
if No head:
    self.head = new_node
    new_node.next = self.head
    return
# At beginning
previous = self.head
current = previous
self.head = new_node
new_node.next = previous
while current.next != previous:
    current = current.next
current.next = new_node
# At End
if No head:
    self.head = new_node
    new_node.next = self.head
    return
previous = self.head
current = previous
while current.next != previous:
    current = current.next
current.next = new_node
new_node.next = previous

In [ ]:
# If No head
if No head:
    self.head = new_node
    new_node.next = self.head
    return
# At beginning
previous = self.head
current = previous
self.head = new_node
new_node.next = previous
while current.next != previous:
    current = current.next
current.next = new_node
# At End
if No head:
    self.head = new_node
    new_node.next = self.head
    return
previous = self.head
current = previous
while current.next != previous:
    current = current.next
current.next = new_node
new_node.next = previous